@{
    ViewData["Title"] = "homePage";
}

    <!-- Page Content -->
    <div class="container mt-4">
        <h1>homePage</h1>
        <p>Welcome to the homepage of Share A Plate!</p>

    </div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
