@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Share A Plate!</h1>
    <p class="lead">We care , so we share.</p>
    @if (!User.Identity.IsAuthenticated)

    {
        <p>
            <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register" role="button">Get Started</a>
            <a class="btn btn-secondary btn-lg" asp-controller="Account" asp-action="Login" role="button">Login</a>
        </p>
    }
</div>
